@import 'src/styles/globals/colors';
@import 'src/styles/globals/typography';

.pagination-container {
  margin-top: $theme-unit * 4;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .pagination-box {
    display: flex;
    justify-content: center;
    color: $white;
    background-color: $primary-color;
    padding: 0 $theme-unit * 2;
    margin-right: $theme-unit;
    cursor: pointer;
  }
  .fas {
    color: $secondary-color;
    cursor: pointer;
    &.fa-angle-right {
      margin-left: $theme-unit * 2;
    }
    &.fa-angle-left {
      margin-right: $theme-unit * 3;
    }
  }
}