@import 'src/styles/globals/typography';

.users-container {
  padding: $theme-unit * 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .wrapper {
    display: flex;
    flex-direction: column;
    .input-wrapper {
      width: 40%;
    }
  }
}