<div class="container">
  <app-custom-table [dataSource]="mockData" [keys]="keys" (sort)="onSort($event)">
    <ng-container>
      <ng-template tableHeader="firstName" sort="true" let-val="val">
        {{val | titlecase}}123
      </ng-template>

      <ng-template tableHeader="lastName" sort="false" let-val="val">
        {{val | titlecase }}
      </ng-template>

      <ng-template tableHeader="age" sort="true" let-val="val">
        {{val | titlecase}}
      </ng-template>

      <ng-template tableHeader="height" let-val="val">
        {{val | titlecase}}
      </ng-template>
    </ng-container>

    <ng-container>
      <ng-template tableColumn="firstName" let-val="val">
        {{val.firstName}}hello
      </ng-template>

      <ng-template tableColumn="lastName" let-val="val">
        {{val.lastName}}dasd
      </ng-template>

      <ng-template tableColumn="age" let-val="val">
        {{val.age}}
      </ng-template>

      <ng-template tableColumn="height" let-val="val">
        {{val.height}}
      </ng-template>
    </ng-container>

  </app-custom-table>
</div>
